@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-blob
{
    animation: blob 12s infinite;
}

@layer base
{
    :root
    {
        scroll-padding: 0
    }

    main
    {
        padding-block-start: calc(var(--navigate-banner-current-height) * 1px);
    }
}

@keyframes blob
{
    0%
    {
        transform: translate(0) scale(1);
    }

    33%
    {
        transform: translate(125px, -120px) scale(1.2);
    }

    66%
    {
        transform: translate(-90px, 70px) scale(0.8);
    }

    to
    {
        transform: translate(0) scale(1);
    }
}